    <h1>Welcome to the Party Manager System!</h1>
    <p>
      Need help creating a cool party invitation? Well worry no more, we offer four great designs that you can use for any occasion. Just click on which type of party you're having and voila! you'll get the most perfect party invitation you have ever seen.
    </p>

	<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>